{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block body %}

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <img src="static/images/CSK.PNG" alt="" style="height:200px;">
            </div>
            <div class="col-sm-6">
                <h1 style="margin-top:65px; color:black;"><b>CHENNAI SUPER KING</b></h1>
            </div>
        </div>
    </div>
    
<div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td><span style="color: blue;"><b>OWNER</b></span></td>
              <td>CHENNAI SUPER KINGS CRICKET LTD</td>
            </tr>
            <tr>
              <td><span style="color: blue;"><b>COACH</b></span></td>
              <td>STEPHEN FLEMINGS</td>
            </tr>
            <tr>
              <td><span style="color: blue;"><b>VENUE</b></span></td>
              <td>M. A. CHIDAMBARAM STADIUM</td>
            </tr>
            <tr>
              <td><span style="color: blue;"><b>CAPTAIN</b></span></td>
              <td>RUTURAJ GAIKWAD</td>
            </tr>
            <tr>
                <td> <img src="static/images/team-trophy.png" alt=""></td>
                <td>2010 , 2011 , 2018 , 2021 , 2023</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
</div>


<div class="container-fluid" style="text-align: center;">
    <h1 style="margin-top: 50px;">TEAM PLAYERS</h1>
</div>

    <div class="player-card">
        <img src="static/images/cskTeam/ruturajGaikwad.webp" alt="Player 1">
        <div class="player-info">
            <p class="player-name">RUTURAJ GAIKWAD</p>
            <p class="player-role">Batter</p>
            <div class="card-body">
                <p class="card-text"></p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">View Details</button>
            </div>
        </div>
    </div>
    <div class="player-card">
        <img src="static/images/cskTeam/msdhoni.webp" alt="Player 2">
        <div class="player-info">
            <p class="player-name">MS DHONI</p>
            <p class="player-role">Wicketkeeper</p>
             <div class="card-body">
                    <p class="card-text"></p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">View Details</button>
                </div>
        </div>
    </div>
    <div class="player-card">
        <img src="static/images/cskTeam/devon.webp" alt="Player 3">
        <div class="player-info">
            <p class="player-name">DEVON CONWAY</p>
            <p class="player-role">Batter</p>
            <div class="card-body">
                <p class="card-text"></p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">View Details</button>
            </div>
        </div>
    </div>
    <div class="player-card">
        <img src="static/images/cskTeam/ajinkyarahane.webp" alt="Player 4">
        <div class="player-info">
            <p class="player-name">AJINKYA RAHANE</p>
            <p class="player-role">Batter</p>
            <div class="card-body">
                <p class="card-text"></p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">View Details</button>
            </div>
        </div>
    </div>
    <div class="player-card">
        <img src="static/images/cskTeam/shaikrasheed.webp" alt="Player 5">
        <div class="player-info">
            <p class="player-name">SHAIK RASHEED</p>
            <p class="player-role">Batter</p>
            <div class="card-body">
                <p class="card-text"></p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5">View Details</button>
            </div>
        </div>
    </div>
    <div class="player-card">
        <img src="static/images/cskTeam/sameerrizvi.webp" alt="Player 6">
        <div class="player-info">
            <p class="player-name">SAMEER RIZVI</p>
            <p class="player-role">Batter</p>
            <div class="card-body">
                <p class="card-text"></p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal6">View Details</button>
            </div>
        </div>
    </div>
    <div class="player-card">
        <img src="static/images/cskTeam/ravindraJadeja.webp" alt="Player 7">
        <div class="player-info">
            <p class="player-name">RAVINDRA JADEJA</p>
            <p class="player-role">ALL ROUNDER</p>
            <div class="card-body">
                <p class="card-text"></p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal7">View Details</button>
            </div>
        </div>
    </div>
    <div class="player-card">
        <img src="static/images/cskTeam/moinali.webp" alt="Player 8">
        <div class="player-info">
            <p class="player-name">MOIN ALI</p>
            <p class="player-role">ALL ROUNDER</p>
            <div class="card-body">
                <p class="card-text"></p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">View Details</button>
            </div>
        </div>
    </div>
    <div class="player-card">
        <img src="static/images/cskTeam/shivamdube.webp" alt="Player 9">
        <div class="player-info">
            <p class="player-name">SHIVAM DUBE</p>
            <p class="player-role">ALL ROUNDER</p>
            <div class="card-body">
                <p class="card-text"></p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal9">View Details</button>
            </div>
        </div>
    </div>
    <div class="player-card">
        <img src="static/images/cskTeam/deepakchahar.webp" alt="Player 10">
        <div class="player-info">
            <p class="player-name">DEEPAK CHAHAR</p>
            <p class="player-role">Bowler</p>
            <div class="card-body">
                <p class="card-text"></p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal10">View Details</button>
            </div>
        </div>
    </div>
    <div class="player-card">
        <img src="static/images/cskTeam/maheeshtheekshana.webp" alt="Player 11">
        <div class="player-info">
            <p class="player-name">MAHEESH THEEKSHANA</p>
            <p class="player-role">Bowler</p>
            <div class="card-body">
                <p class="card-text"></p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal11">View Details</button>
            </div>
        </div>
    </div>
    <div class="player-card">
        <img src="static/images/cskTeam/mustafizurrahman.webp" alt="Player 12">
        <div class="player-info">
            <p class="player-name">MUSTAFIZUR RAHMAN</p>
            <p class="player-role">Bowler</p>
            <div class="card-body">
                <p class="card-text"></p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal7">View Details</button>
            </div>
        </div>
    </div>
    <div class="player-card">
        <img src="static/images/cskTeam/matheeshapathirana.webp" alt="Player 13">
        <div class="player-info">
            <p class="player-name">MATHEESHA PATHIRANA</p>
            <p class="player-role">ALL ROUNDER</p>
            <div class="card-body">
                <p class="card-text"></p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal13">View Details</button>
            </div>
        </div>
    </div>




<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">RUTURAJ GAIKWAD Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li><b>Name:</b> RUTURAJ GAIKWAD</li>
                    <li><b>Date Of Birth:</b> 31 JANUARY 1997</li>
                    <li><b>Specialization:</b> BATTER</li>
                    <li><b>Country:</b> INDIAN</li>
                    <li><b>Matches Played:</b> 60</li>
                </ul>
                <h2>Career Statistics</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>MAT</th>
                            <th>NO</th>
                            <th>RUNS</th>
                            <th>HS</th>
                            <th>AVG</th>
                            <th>BF</th>
                            <th>SR</th>
                            <th>100</th>
                            <th>50</th>
                            <th>4S</th>
                            <th>6S</th>
                            <th>CT</th>
                            <th>ST</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Career</td>
                            <td>60</td>
                            <td>7</td>
                            <td>2146</td>
                            <td>108*</td>
                            <td>41.27</td>
                            <td>1571</td>
                            <td>136.60</td>
                            <td>2</td>
                            <td>16</td>
                            <td>197</td>
                            <td>83</td>
                            <td>32</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>2024</td>
                            <td>8</td>
                            <td>2</td>
                            <td>349</td>
                            <td>108*</td>
                            <td>58.17</td>
                            <td>245</td>
                            <td>142.45</td>
                            <td>1</td>
                            <td>2</td>
                            <td>38</td>
                            <td>10</td>
                            <td>1</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">MS DHONI Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li><b>Name:</b> MS DHONI</li>
                    <li><b>Date Of Birth:</b> 7 JULY 1981</li>
                    <li><b>Specialization:</b> BATTER</li>
                    <li><b>Country:</b> INDIAN</li>
                    <li><b>Matches Played:</b> 258</li>
                </ul>
                <h2>Career Statistics</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>MAT</th>
                            <th>NO</th>
                            <th>RUNS</th>
                            <th>HS</th>
                            <th>AVG</th>
                            <th>BF</th>
                            <th>SR</th>
                            <th>100</th>
                            <th>50</th>
                            <th>4S</th>
                            <th>6S</th>
                            <th>CT</th>
                            <th>ST</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Career</td>
                            <td>258</td>
                            <td>93</td>
                            <td>5173</td>
                            <td>84*</td>
                            <td>39.49</td>
                            <td>3774</td>
                            <td>137.07</td>
                            <td>0</td>
                            <td>24</td>
                            <td>357</td>
                            <td>247</td>
                            <td>147</td>
                            <td>42</td>
                        </tr>
                        <tr>
                            <td>2024</td>
                            <td>8</td>
                            <td>6</td>
                            <td>91</td>
                            <td>37*</td>
                            <td>-</td>
                            <td>35</td>
                            <td>260.00</td>
                            <td>0</td>
                            <td>0</td>
                            <td>8</td>
                            <td>8</td>
                            <td>5</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Devon Conway Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li><b>Name:</b> DEVON CONWAY</li>
                    <li><b>Date Of Birth:</b> 08 JULY 1991</li>
                    <li><b>Specialization:</b> Batter</li>
                    <li><b>Country:</b> SOUTH AFRICA</li>
                    <li><b>Matches Played:</b> 23</li>
                </ul>
                <h2>Career Statistics</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>MAT</th>
                            <th>NO</th>
                            <th>RUNS</th>
                            <th>HS</th>
                            <th>AVG</th>
                            <th>BF</th>
                            <th>SR</th>
                            <th>100</th>
                            <th>50</th>
                            <th>4S</th>
                            <th>6S</th>
                            <th>CT</th>
                            <th>ST</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Career</td>
                            <td>23</td>
                            <td>3</td>
                            <td>924</td>
                            <td>92*</td>
                            <td>48.63</td>
                            <td>654</td>
                            <td>141.28</td>
                            <td>0</td>
                            <td>9</td>
                            <td>99</td>
                            <td>30</td>
                            <td>8</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>2023</td>
                            <td>16</td>
                            <td>2</td>
                            <td>672</td>
                            <td>92*</td>
                            <td>51.69</td>
                            <td>481</td>
                            <td>139.71</td>
                            <td>0</td>
                            <td>6</td>
                            <td>77</td>
                            <td>18</td>
                            <td>6</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel4">AJINKYA RAHANE Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li><b>Name:</b> AJINKYA RAHANE</li>
                    <li><b>Date Of Birth:</b> 6 JUNE 1988</li>
                    <li><b>Specialization:</b> BATTER</li>
                    <li><b>Country:</b> INDIAN</li>
                    <li><b>Matches Played:</b> 180</li>
                </ul>
                <h2>Career Statistics</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>MAT</th>
                            <th>NO</th>
                            <th>RUNS</th>
                            <th>HS</th>
                            <th>AVG</th>
                            <th>BF</th>
                            <th>SR</th>
                            <th>100</th>
                            <th>50</th>
                            <th>4S</th>
                            <th>6S</th>
                            <th>CT</th>
                            <th>ST</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Career</td>
                            <td>180</td>
                            <td>17</td>
                            <td>4561</td>
                            <td>105*</td>
                            <td>30.61</td>
                            <td>3691</td>
                            <td>123.57</td>
                            <td>2</td>
                            <td>30</td>
                            <td>468</td>
                            <td>102</td>
                            <td>71</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>2024</td>
                            <td>8</td>
                            <td>0</td>
                            <td>161</td>
                            <td>45</td>
                            <td>23.00</td>
                            <td>126</td>
                            <td>127.78</td>
                            <td>0</td>
                            <td>0</td>
                            <td>13</td>
                            <td>6</td>
                            <td>1</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel5">SHAIK RASHEED Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li><b>Name:</b> SHAIK RASHEED</li>
                    <li><b>Date Of Birth:</b> 04 SEPTEMBER 2004</li>
                    <li><b>Specialization:</b> BATTER</li>
                    <li><b>Country:</b> INDIAN</li>
                    <li><b>Matches Played:</b> 0</li>
                </ul>

                No Data Available

            </div>
        </div>
    </div>

    
{% endblock body %}

