{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block body %}
    
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-4">
                <img src="" alt="">
            </div>
            <div class="col-sm-4">
                <b>GUJARAT TITANS</b>
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <img src="static/images/GT.webp" alt="" style="height:200px;">
                </div>
                <div class="col-sm-6">
                    <h1 style="margin-top:65px; color:black;"><b>GUJARAT TITANS</b></h1>
                </div>
            </div>
        </div>
        
    <div class="container">
        <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td><span style="color: blue;"><b>OWNER</b></span></td>
                  <td>CVC Capital Partners</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>COACH</b></span></td>
                  <td>Ashish Nehra</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>VENUE</b></span></td>
                  <td>Narendra Modi Stadium</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>CAPTAIN</b></span></td>
                  <td>Shubman Gill</td>
                </tr>
                <tr>
                    <td> <img src="static/images/team-trophy.png" alt=""></td>
                    <td>2022</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    
<div class="player-card">
  <img src="static/images/gt player/shubman gill.webp" alt="Player 1">
  <div class="player-info">
      <p class="player-name">SHUBMAN GILL</p>
      <p class="player-role">Batter</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">View Details</button>
      </div>
  </div>
</div>

    
<div class="player-card">
  <img src="static/images/gt player/david miller.webp" alt="Player 2">
  <div class="player-info">
      <p class="player-name">DAVID MILLER</p>
      <p class="player-role">Batter</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">View Details</button>
      </div>
  </div>
</div>
    
<div class="player-card">
  <img src="static/images/gt player/wriddhiman saha.webp" alt="Player 3">
  <div class="player-info">
      <p class="player-name">WRIDDHIMAN SAHA</p>
      <p class="player-role">Wicketkeeper & Batter</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">View Details</button>
      </div>
  </div>
</div>
    
<div class="player-card">
  <img src="static/images/gt player/kane williamson.webp" alt="Player 4">
  <div class="player-info">
      <p class="player-name">KANE WILLIAMSON</p>
      <p class="player-role">Batter</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">View Details</button>
      </div>
  </div>
</div>
    
<div class="player-card">
  <img src="static/images/gt player/b. sai sudharsan.webp" alt="Player 5">
  <div class="player-info">
      <p class="player-name">B. SAI SUDHARSAN</p>
      <p class="player-role">ALL ROUNDER</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5">View Details</button>
      </div>
  </div>
</div>
    
<div class="player-card">
  <img src="static/images/gt player/vijay shankar.webp" alt="Player 6">
  <div class="player-info">
      <p class="player-name">VIJAY SHANKAR</p>
      <p class="player-role">ALL ROUNDER</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal6">View Details</button>
      </div>
  </div>
</div>
    
<div class="player-card">
  <img src="static/images/gt player/azmatullah omarzai.webp" alt="Player 7">
  <div class="player-info">
      <p class="player-name">AZMATULLAH OMARZAI</p>
      <p class="player-role">ALL ROUNDER</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal7">View Details</button>
      </div>
  </div>
</div>
    
<div class="player-card">
  <img src="static/images/gt player/rahul tewatia.webp" alt="Player 8">
  <div class="player-info">
      <p class="player-name">RAHUL TEWATIA</p>
      <p class="player-role">Bowler</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">View Details</button>
      </div>
  </div>
</div>
    
<div class="player-card">
  <img src="static/images/gt player/noor ahmad.webp" alt="Player 9">
  <div class="player-info">
      <p class="player-name">NOOR AHMAD</p>
      <p class="player-role">Bowler</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal9">View Details</button>
      </div>
  </div>
</div>
    
<div class="player-card">
  <img src="static/images/gt player/umesh yadav.webp" alt="Player 10">
  <div class="player-info">
      <p class="player-name">UMESH YADAV</p>
      <p class="player-role">Bowler</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal10">View Details</button>
      </div>
  </div>
</div>
    
<div class="player-card">
  <img src="static/images/gt player/rashid khan.webp" alt="Player 11">
  <div class="player-info">
      <p class="player-name">RASHID KHAN</p>
      <p class="player-role">Bowler</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal11">View Details</button>
      </div>
  </div>
</div>
    
<div class="player-card">
  <img src="static/images/gt player/mohit sharma.webp" alt="Player 12">
  <div class="player-info">
      <p class="player-name">MOHIT SHARMA</p>
      <p class="player-role">Bowler</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal12">View Details</button>
      </div>
  </div>
</div>

{% endblock body %}