{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block body %}
    
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-4">
                <img src="" alt="">
            </div>
            <div class="col-sm-4">
                <b>KOLKATA KNIGHT RIDERS</b>
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <img src="static/images/KKR.png" alt="" style="height:200px;">
                </div>
                <div class="col-sm-6">
                    <h1 style="margin-top:65px; color:black;"><b>KOLKATA KNIGHT RIDERS</b></h1>
                </div>
            </div>
        </div>
        
    <div class="container">
        <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td><span style="color: blue;"><b>OWNER</b></span></td>
                  <td>Knight Riders Sports Private Ltd</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>COACH</b></span></td>
                  <td>Chandrakant Pandit</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>VENUE</b></span></td>
                  <td>Eden Gardens</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>CAPTAIN</b></span></td>
                  <td>Shreyas Iyer</td>
                </tr>
                <tr>
                    <td> <img src="static/images/team-trophy.png" alt=""></td>
                    <td>2012 , 2014</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
    </div>

    <div class="player-card">
      <img src="static/images/kkr player/shreyas iyer.webp" alt="Player 1">
      <div class="player-info">
          <p class="player-name">SHREYAS IYER</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/kkr player/rinku singh.webp" alt="Player 2">
      <div class="player-info">
          <p class="player-name">RINKU SINGH</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/kkr player/phil salt.webp" alt="Player 3">
      <div class="player-info">
          <p class="player-name">PHIL SALT</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/kkr player/anngkrish raghuwanshi.webp" alt="Player 4">
      <div class="player-info">
          <p class="player-name">ANNGKRISH RAGHUWANSHI</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">View Details</button>
          </div>
      </div>
    </div>

    <div class="player-card">
      <img src="static/images/kkr player/ramandeep singh.webp" alt="Player 5  ">
      <div class="player-info">
          <p class="player-name">RAMANDEEP SINGH</p>
          <p class="player-role">ALL ROUNDER</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/kkr player/andhre russell.webp" alt="Player 6">
      <div class="player-info">
          <p class="player-name">ANDHRE RUSSELL</p>
          <p class="player-role">ALL ROUNDER</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal6">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/kkr player/venkatesh iyer.webp" alt="Player 7">
      <div class="player-info">
          <p class="player-name">VENKATESH IYER</p>
          <p class="player-role">ALL ROUNDER</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal7">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/kkr player/suyash sharma.webp" alt="Player 8">
      <div class="player-info">
          <p class="player-name">SUYASH SHARMA</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/kkr player/harshit rana.webp" alt="Player 9">
      <div class="player-info">
          <p class="player-name">HARSHIT RANA</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal9">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/kkr player/sunil narine.webp" alt="Player 10">
      <div class="player-info">
          <p class="player-name">SUNIL NARINE</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal10">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/kkr player/vaibhav arora.webp" alt="Player 11">
      <div class="player-info">
          <p class="player-name">VAIBHAV ARORA</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal11">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/kkr player/mitchell starc.webp" alt="Player 12">
      <div class="player-info">
          <p class="player-name">MITCHELL STARC</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal12">View Details</button>
          </div>
      </div>
    </div>

{% endblock body %}