{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block body %}
   
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-4">
                <img src="" alt="">
            </div>
            <div class="col-sm-4">
                <b>LUCKNOW SUPER GIANTS</b>
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <img src="static/images/LSG.webp" alt="" style="height:200px;">
                </div>
                <div class="col-sm-6">
                    <h1 style="margin-top:65px; color:black;"><b>LUCKNOW SUPER GIANTS</b></h1>
                </div>
            </div>
        </div>
        
    <div class="container">
        <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td><span style="color: blue;"><b>OWNER</b></span></td>
                  <td>RPSG Group</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>COACH</b></span></td>
                  <td>Justin Langer</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>VENUE</b></span></td>
                  <td>BRSABV Ekana Cricket Stadium</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>CAPTAIN</b></span></td>
                  <td>KL Rahul</td>
                </tr>
                <tr>
                    <td> <img src="static/images/team-trophy.png" alt=""></td>
                    <td></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/lsg player/kl rahul.webp" alt="Player 1">
      <div class="player-info">
          <p class="player-name">KL RAHUL</p>
          <p class="player-role">WicketKeeper & Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/lsg player/devdutt padikkal.webp" alt="Player 2">
      <div class="player-info">
          <p class="player-name">DEVDUTT PADIKKAL</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">View Details</button>
          </div>
      </div>
    </div>

    <div class="player-card">
      <img src="static/images/lsg player/quinton de kock.webp" alt="Player 3">
      <div class="player-info">
          <p class="player-name">QUINTON DE KOCK</p>
          <p class="player-role">WicketKeeper & Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">View Details</button>
          </div>
      </div>
    </div>

    <div class="player-card">
      <img src="static/images/lsg player/nicholas pooran.webp" alt="Player 4">
      <div class="player-info">
          <p class="player-name">NICHOLAS POORAN</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">View Details</button>
          </div>
      </div>
    </div>

    <div class="player-card">
      <img src="static/images/lsg player/ayush badoni.webp" alt="Player 5">
      <div class="player-info">
          <p class="player-name">AYUSH BADONI</p>
          <p class="player-role">ALL ROUNDER</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/lsg player/deepak hooda.webp" alt="Player 6">
      <div class="player-info">
          <p class="player-name">DEEPAK HOODA</p>
          <p class="player-role">ALL ROUNDER</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal6">View Details</button>
          </div>
      </div>
    </div>

    <div class="player-card">
      <img src="static/images/lsg player/krunal pandya.webp" alt="Player 7">
      <div class="player-info">
          <p class="player-name">KRUNAL PANDYA</p>
          <p class="player-role">ALL ROUNDER</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal7">View Details</button>
          </div>
      </div>
    </div>

    <div class="player-card">
      <img src="static/images/lsg player/markus stoinis.webp" alt="Player 8">
      <div class="player-info">
          <p class="player-name">MARCUS STOINIS</p>
          <p class="player-role">ALL ROUNDER</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">View Details</button>
          </div>
      </div>
    </div>

    <div class="player-card">
      <img src="static/images/lsg player/ravi bishnoi.webp" alt="Player 9">
      <div class="player-info">
          <p class="player-name">RAVI BISHNOI</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal9">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/lsg player/mayank yadav.webp" alt="Player 10">
      <div class="player-info">
          <p class="player-name">MAYANK YADAV</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal10">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/lsg player/yash thakur.webp" alt="Player 11">
      <div class="player-info">
          <p class="player-name">YASH THAKUR</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal11">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/lsg player/naveen ul haq.webp" alt="Player 12">
      <div class="player-info">
          <p class="player-name">NAVEEN UL HAQ</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal12">View Details</button>
          </div>
      </div>
    </div>

{% endblock body %}