{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block body %}
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-4">
                <img src="" alt="">
            </div>
            <div class="col-sm-4">
                <b>Mumbai Indians</b>
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <img src="static/images/MI.PNG" alt="" style="height:200px;">
                </div>
                <div class="col-sm-6">
                    <h1 style="margin-top:65px; color:black;"><b>MUMBAI INDIANS</b></h1>
                </div>
            </div>
        </div>
        
    <div class="container">
        <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td><span style="color: blue;"><b>OWNER</b></span></td>
                  <td>INDIAWIN SPORTS PVT.LTD</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>COACH</b></span></td>
                  <td>MARK BOUCHER</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>VENUE</b></span></td>
                  <td>WANKHEDE STADIUM</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>CAPTAIN</b></span></td>
                  <td>HARDIK PANDYA</td>
                </tr>
                <tr>
                    <td> <img src="static/images/team-trophy.png" alt=""></td>
                    <td>2013 , 2015 , 2017, 2019 , 2020</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="player-card">
      <img src="static/images/mi player/rohit.png" alt="Player 1">
      <div class="player-info">
          <p class="player-name">ROHIT</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/mi player/surya.png" alt="Player 2">
      <div class="player-info">
          <p class="player-name">SURYAKUMAR YADAV</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/mi player/ishan.png" alt="Player 3">
      <div class="player-info">
          <p class="player-name">ISHAN KISHAN</p>
          <p class="player-role">WicketKeeper & Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/mi player/tilak.png" alt="Player 4">
      <div class="player-info">
          <p class="player-name">N. TILAK VARMA</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/mi player/tim david.png" alt="Player 5">
      <div class="player-info">
          <p class="player-name">TIM DAVID</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/mi player/hardik pandya.webp" alt="Player 6">
      <div class="player-info">
          <p class="player-name">HARDIK PANDYA</p>
          <p class="player-role">ALL ROUNDER</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal6">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/mi player/mohammad nabi.webp" alt="Player 7">
      <div class="player-info">
          <p class="player-name">MOHAMMAD NABI</p>
          <p class="player-role">ALL ROUNDER</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal7">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/mi player/romario shepherd.webp" alt="Player 8">
      <div class="player-info">
          <p class="player-name">ROMARIO SHEPHERD</p>
          <p class="player-role">ALL ROUNDER</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/mi player/nehal wadhera.webp" alt="Player 9">
      <div class="player-info">
          <p class="player-name">NEHAL WADHERA</p>
          <p class="player-role">ALL ROUNDER</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal9">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/mi player/gerald coetzee.webp" alt="Player 10">
      <div class="player-info">
          <p class="player-name">GERALD COETZEE</p>
          <p class="player-role">ALL ROUNDER</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal10">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/mi player/kwena maphaka.webp" alt="Player 11">
      <div class="player-info">
          <p class="player-name">KWENA MAPHAKA</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal11">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/mi player/jasprit bumrah.webp" alt="Player 12">
      <div class="player-info">
          <p class="player-name">JASPREET BUMRAH</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal12">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/mi player/piyush chawla.webp" alt="Player 13">
      <div class="player-info">
          <p class="player-name">PIYUSH CHAWLA</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal13">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/mi player/akash madhwal.webp" alt="Player 14">
      <div class="player-info">
          <p class="player-name">AKASH MADHWAL</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal14">View Details</button>
          </div>
      </div>
    </div>
    

{% endblock body %}