{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block body %}
   
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-4">
                <img src="" alt="">
            </div>
            <div class="col-sm-4">
                <b>Punjab Kings</b>
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <img src="static/images/Punjab.jpeg" alt="" style="height:200px;">
                </div>
                <div class="col-sm-6">
                    <h1 style="margin-top:65px; color:black;"><b>PUNJAB KINGS</b></h1>
                </div>
            </div>
        </div>
        
    <div class="container">
        <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td><span style="color: blue;"><b>OWNER</b></span></td>
                  <td>KPH DREAM CRICKET PVT.LTD</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>COACH</b></span></td>
                  <td>TREVOR BAYLISS</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>VENUE</b></span></td>
                  <td>PCA NEW STADIUM,MULLANPUR</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>CAPTAIN</b></span></td>
                  <td>SHIKHAR DHAWAN</td>
                </tr>
                <tr>
                    <td> <img src="static/images/team-trophy.png" alt=""></td>
                    <td></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="player-card">
      <img src="static/images/pbks player/shikhar dhawan.webp" alt="Player 1">
      <div class="player-info">
          <p class="player-name">SHIKHAR DHAWAN</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">View Details</button>
          </div>
      </div>
  </div>
  <div class="player-card">
    <img src="static/images/pbks player/jitesh sharma.webp" alt="Player 2">
    <div class="player-info">
        <p class="player-name">JITESH SHARMA</p>
        <p class="player-role">WicketKeeper & Batter</p>
        <div class="card-body">
            <p class="card-text"></p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">View Details</button>
        </div>
    </div>
</div>
<div class="player-card">
  <img src="static/images/pbks player/jonny bairstow.webp" alt="Player 3">
  <div class="player-info">
      <p class="player-name">JONNY BAIRSTOW</p>
      <p class="player-role">Batter</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/pbks player/liam livingstone.webp" alt="Player 4">
  <div class="player-info">
      <p class="player-name">LIAM LIVINGSTONE</p>
      <p class="player-role">Batter</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/pbks player/rilee rossouw.webp" alt="Player 5">
  <div class="player-info">
      <p class="player-name">RILEE ROSSOUW</p>
      <p class="player-role">Batter</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/pbks player/shshank singh.webp" alt="Player 6">
  <div class="player-info">
      <p class="player-name">SHASHANK SINGH</p>
      <p class="player-role">Batter</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal6">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/pbks player/ashutosh sharma.webp" alt="Player 7">
  <div class="player-info">
      <p class="player-name">ASHUTOSH SHARMA</p>
      <p class="player-role">ALL ROUNDER</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal7">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/pbks player/sam curran.webp" alt="Player 8">
  <div class="player-info">
      <p class="player-name">SAM CURRAN</p>
      <p class="player-role">ALL ROUNDER</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/pbks player/sikandar raza.webp" alt="Player 9">
  <div class="player-info">
      <p class="player-name">SIKANDAR RAZA</p>
      <p class="player-role">ALL ROUNDER</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal9">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/pbks player/harpreet bar.webp" alt="Player 10">
  <div class="player-info">
      <p class="player-name">HARPREET BRAR</p>
      <p class="player-role">Bowler</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal10">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/pbks player/arshdeep singh.webp" alt="Player 11">
  <div class="player-info">
      <p class="player-name">ARSHDEEP SINGH</p>
      <p class="player-role">Bowler</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal11">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/pbks player/kagiso rabada.webp" alt="Player 12">
  <div class="player-info">
      <p class="player-name">KAGISO RABADA</p>
      <p class="player-role">Bowler</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal12">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/pbks player/harsahl patel.webp" alt="Player 13">
  <div class="player-info">
      <p class="player-name">HARSHAL PATEL</p>
      <p class="player-role">Bowler</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal13">View Details</button>
      </div>
  </div>
</div>

{% endblock body %}