{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block body %}
   
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-4">
                <img src="" alt="">
            </div>
            <div class="col-sm-4">
                <b>Royal Challengers Bengluru</b>
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <img src="static/images/RCB.jpeg" alt="" style="height:200px;">
                </div>
                <div class="col-sm-6">
                    <h1 style="margin-top:65px; color:black;"><b>ROYAL CHALLENGERS BENGLURU</b></h1>
                </div>
            </div>
        </div>
        
    <div class="container">
        <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td><span style="color: blue;"><b>OWNER</b></span></td>
                  <td>UNITED SPIRITS LIMLTED(USL)</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>COACH</b></span></td>
                  <td>ANDY FLOWER</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>VENUE</b></span></td>
                  <td>M.CHINNASWAMY STADIUM</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>CAPTAIN</b></span></td>
                  <td>FAF DU PLESSIS</td>
                </tr>
                <tr>
                    <td> <img src="static/images/team-trophy.png" alt=""></td>
                    <td></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="player-card">
      <img src="static/images/rcb player/faf du plessis.webp" alt="Player 1">
      <div class="player-info">
          <p class="player-name">FAF DU PLESSIS</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/rcb player/rajat patidar.webp" alt="Player 2">
      <div class="player-info">
          <p class="player-name">RAJAT PATIDAR</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/rcb player/virat kohli.webp" alt="Player 3">
      <div class="player-info">
          <p class="player-name">VIRAT KOHLI</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/rcb player/anuj rawat.webp" alt="Player 4">
      <div class="player-info">
          <p class="player-name">ANUJ RAWAT</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/rcb player/dinesh kartik.webp" alt="Player 5">
      <div class="player-info">
          <p class="player-name">DINESH KARTIK</p>
          <p class="player-role">WicketKeeper & Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/rcb player/will jacks.webp" alt="Player 6">
      <div class="player-info">
          <p class="player-name">WILL JACKS</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal6">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/rcb player/glenn maxwell.webp" alt="Player 7">
      <div class="player-info">
          <p class="player-name">GLENN MAXWELL</p>
          <p class="player-role">ALL ROUNDER</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal7">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/rcb player/mahipal lomror.webp" alt="Player 8">
      <div class="player-info">
          <p class="player-name">MAHIPAL LOMROR</p>
          <p class="player-role">ALL ROUNDER</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/rcb player/karn sharma.webp" alt="Player 9">
      <div class="player-info">
          <p class="player-name">KARN SHARMA</p>
          <p class="player-role">ALL ROUNDER</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal9">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/rcb player/cameron green.webp" alt="Player 11">
      <div class="player-info">
          <p class="player-name">CAMERON GREEN</p>
          <p class="player-role">ALL ROUNDER</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal11">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/rcb player/alzarri joseph.webp" alt="Player 12">
      <div class="player-info">
          <p class="player-name">ALZARRI JOSEPH</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal12">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/rcb player/lockie ferguson.webp" alt="Player 13">
      <div class="player-info">
          <p class="player-name">LOCKIE FERGUSON</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal13">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/rcb player/mohammed siraj.webp" alt="Player 14">
      <div class="player-info">
          <p class="player-name">MOHAMMED SIRAJ</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal14">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/rcb player/yash dayal.webp" alt="Player 15">
      <div class="player-info">
          <p class="player-name">YASH DAYAL</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal15">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/rcb player/vyshak vijay kumar.webp" alt="Player 16">
      <div class="player-info">
          <p class="player-name">VYSHAK VIJAY KUMAR</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal16">View Details</button>
          </div>
      </div>
    </div>

{% endblock body %}