{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block body %}
    
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-4">
                <img src="" alt="">
            </div>
            <div class="col-sm-4">
                <b>Rajsthan Royals</b>
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <img src="static/images/RR.png" alt="" style="height:200px;">
                </div>
                <div class="col-sm-6">
                    <h1 style="margin-top:65px; color:black;"><b>RAJSTHAN ROYALS</b></h1>
                </div>
            </div>
        </div>
        
    <div class="container">
        <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td><span style="color: blue;"><b>OWNER</b></span></td>
                  <td>THE ROYALS SPORTS GROUP </td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>COACH</b></span></td>
                  <td>KUMAR SANGAKKARA</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>VENUE</b></span></td>
                  <td>SAWAI MANSINGH STADIUM</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>CAPTAIN</b></span></td>
                  <td>SANJU SAMSON</td>
                </tr>
                <tr>
                    <td> <img src="static/images/team-trophy.png" alt=""></td>
                    <td>2008</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="player-card">
      <img src="static/images/rr player/sanju samson.webp" alt="Player 1">
      <div class="player-info">
          <p class="player-name">SANJU SAMSON</p>
          <p class="player-role">WicketKeeper & Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">View Details</button>
          </div>
      </div>
  </div>
  <div class="player-card">
    <img src="static/images/rr player/jos butler.webp" alt="Player 2">
    <div class="player-info">
        <p class="player-name">JOS BUTLER</p>
        <p class="player-role">Batter</p>
        <div class="card-body">
            <p class="card-text"></p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">View Details</button>
        </div>
    </div>
</div>
<div class="player-card">
  <img src="static/images/rr player/shimron hetmyer.webp" alt="Player 3">
  <div class="player-info">
      <p class="player-name">SHIMRON HETMYER</p>
      <p class="player-role">Batter</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/rr player/yashsvi jaiswal.webp" alt="Player 4">
  <div class="player-info">
      <p class="player-name">YASHSVI JAISWAL</p>
      <p class="player-role">Batter</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/rr player/dhruv jurel.webp" alt="Player 5">
  <div class="player-info">
      <p class="player-name">DHRUV JUREL</p>
      <p class="player-role">Batter</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/rr player/riyan parag.webp" alt="Player 6">
  <div class="player-info">
      <p class="player-name">RIYAN PARAG</p>
      <p class="player-role">Batter</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal6">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/rr player/rovman powell.webp" alt="Player 7">
  <div class="player-info">
      <p class="player-name">ROVMAN POWELL</p>
      <p class="player-role">Batter</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal7">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/rr player/ravichandran ashwin.webp" alt="Player 8">
  <div class="player-info">
      <p class="player-name">RAVICHANDRAN ASHWIN</p>
      <p class="player-role">ALL ROUNDER</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/rr player/avesh khan.webp" alt="Player 9">
  <div class="player-info">
      <p class="player-name">AVESH KHAN</p>
      <p class="player-role">Bowler</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal9">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/rr player/kuldeep sen.webp" alt="Player 10">
  <div class="player-info">
      <p class="player-name">KULDEEP SEN</p>
      <p class="player-role">Bowler</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal10">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/rr player/keshav maharaj.webp" alt="Player 11">
  <div class="player-info">
      <p class="player-name">KESHAV MAHARAJ</p>
      <p class="player-role">Bowler</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal11">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/rr player/trent boult.webp" alt="Player 12">
  <div class="player-info">
      <p class="player-name">TRENT BOULT</p>
      <p class="player-role">Bowler</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal12">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/rr player/sandeep sharma.webp" alt="Player 13">
  <div class="player-info">
      <p class="player-name">SANDEEP SHARMA</p>
      <p class="player-role">Bowler</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal13">View Details</button>
      </div>
  </div>
</div>
<div class="player-card">
  <img src="static/images/rr player/yuzvendra chahal.webp" alt="Player 14">
  <div class="player-info">
      <p class="player-name">YUZVENDRA CHAHAL</p>
      <p class="player-role">Bowler</p>
      <div class="card-body">
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal14">View Details</button>
      </div>
  </div>
</div>

{% endblock body %}