{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block body %}
   
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-4">
                <img src="" alt="">
            </div>
            <div class="col-sm-4">
                <b>Sunrisers Hyderabad</b>
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <img src="static/images/srh.jpeg" alt="" style="height:200px;">
                </div>
                <div class="col-sm-6">
                    <h1 style="margin-top:65px; color:black;"><b>SUNRISERS HYDERABAD</b></h1>
                </div>
            </div>
        </div>
        
    <div class="container">
        <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td><span style="color: blue;"><b>OWNER</b></span></td>
                  <td>SUN TV NETWORK</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>COACH</b></span></td>
                  <td>DENIEL VETTORI</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>VENUE</b></span></td>
                  <td>RAJIV GANDHI INTL.CRICKET STADIUM</td>
                </tr>
                <tr>
                  <td><span style="color: blue;"><b>CAPTAIN</b></span></td>
                  <td>PAT CUMMINS</td>
                </tr>
                <tr>
                    <td> <img src="static/images/team-trophy.png" alt=""></td>
                    <td>2016</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="player-card">
      <img src="static/images/srh player/abdul samad.webp" alt="Player 1">
      <div class="player-info">
          <p class="player-name">ABDUL SAMAD</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/srh player/aiden markram.webp" alt="Player 2">
      <div class="player-info">
          <p class="player-name">AIDEN MARKRAM</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/srh player/mayank agrawal.webp" alt="Player 3">
      <div class="player-info">
          <p class="player-name">MAYANK AGARWAL</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/srh player/heinrich klaasen.webp" alt="Player 4">
      <div class="player-info">
          <p class="player-name">HEINRICH KLAASEN</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/srh player/nitish kumar reddy.webp" alt="Player 5">
      <div class="player-info">
          <p class="player-name">NITISH KUMAR REDDY</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/srh player/travis head.webp" alt="Player 6">
      <div class="player-info">
          <p class="player-name">TRAVIS HEAD</p>
          <p class="player-role">Batter</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal6">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/srh player/abhishek sharma.webp" alt="Player 7">
      <div class="player-info">
          <p class="player-name">ABHISHEK SHARMA</p>
          <p class="player-role">ALL ROUNDER</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal7">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/srh player/pat cummins.webp" alt="Player 8">
      <div class="player-info">
          <p class="player-name">PAT CUMMINS</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/srh player/shahbaz ahamad.webp" alt="Player 9">
      <div class="player-info">
          <p class="player-name">SHAHBAZ AHAMAD</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal9">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/srh player/bhuvneshwar kumar.webp" alt="Player 10">
      <div class="player-info">
          <p class="player-name">BHUVNESHWAR KUMAR</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal10">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/srh player/jaydev unadkat.webp" alt="Player 11">
      <div class="player-info">
          <p class="player-name">JAYDEV UNADKAT</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal11">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/srh player/t natrajan.webp" alt="Player 12">
      <div class="player-info">
          <p class="player-name">T NATARAJAN</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal12">View Details</button>
          </div>
      </div>
    </div>
    <div class="player-card">
      <img src="static/images/srh player/mayank markande.webp" alt="Player 13">
      <div class="player-info">
          <p class="player-name">MAYANK MARKANDE</p>
          <p class="player-role">Bowler</p>
          <div class="card-body">
              <p class="card-text"></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal13">View Details</button>
          </div>
      </div>
    </div>

{% endblock body %}