{% extends "base.html" %}
{% block title %}Point Table/{% endblock title %}
{% block body %}

<div class="container">
    <h2 class="text-center mt-5 mb-4">Men's IPL 2024 Points Table</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>POS</th>
                    <th>Logo</th>
                    <th>TEAM</th>
                    <th>Matches Played</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>NR</th>
                    <th>NRR</th>
                    <th>FOR</th>
                    <th>AGAINST</th>
                    <th>PTS</th>
                    <th>RECENT FORM</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>1</td>
                    <td><img src="static/images/RR.png" alt="Team Logo" class="player-logo" style="height:70px; border-radius:70px"></td>
                    <td> RR</td>
                    <td>8</td>
                    <td>7</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0.698</td>
                    <td>1449/153.1</td>
                    <td>1402/160.0</td>
                    <td>14</td>
                    <td>W, W, W, L, W</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><img src="static/images/KKR.png" alt="Team Logo" class="player-logo" style="height:70px;margin-left:10px; border-radius:70px"></td>
                    <td>KKR</td>
                    <td>7</td>
                    <td>5</td>
                    <td>2</td>
                    <td>0</td>
                    <td>1.206</td>
                    <td>1410/132.3</td>
                    <td>1299/137.4</td>
                    <td>10</td>
                    <td>W, L, W, L, W</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><img src="static/images/SRH.jpeg" alt="Team Logo" class="player-logo" style="height:70px; border-radius:70px"></td>
                    <td> SRH</td>
                    <td>7</td>
                    <td>5</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0.914</td>
                    <td>1544/138.1</td>
                    <td>1428/139.1</td>
                    <td>10</td>
                    <td>W, W, W, W, L</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><img src="static/images/CSK.png" alt="Team Logo" class="player-logo" style="height:70px; border-radius:70px"></td>
                    <td>CSK</td>
                    <td>7</td>
                    <td>4</td>
                    <td>3</td>
                    <td>0</td>
                    <td>0.529</td>
                    <td>1241/136.2</td>
                    <td>1176/137.1</td>
                    <td>8</td>
                    <td>L, W, W, L, L</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><img src="static/images/LSG.webp" alt="Team Logo" class="player-logo" style="height:50px; border-radius:70px"></td>
                    <td>LSG</td>
                    <td>7</td>
                    <td>4</td>
                    <td>3</td>
                    <td>0</td>
                    <td>0.123</td>
                    <td>1224/139.0</td>
                    <td>1162/133.5</td>
                    <td>8</td>
                    <td>W, L, L, W, W</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><img src="static/images/GT.webp" alt="Team Logo" class="player-logo" style="height:50px; border-radius:70px"></td>
                    <td>GT</td>
                    <td>8</td>
                    <td>4</td>
                    <td>4</td>
                    <td>0</td>
                    <td>-1.055</td>
                    <td>1242/158.2</td>
                    <td>1323/148.4</td>
                    <td>8</td>
                    <td>W, L, W, L, L</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td><img src="static/images/MI.png" alt="Team Logo" class="player-logo" style="height:60px; border-radius:70px"></td>
                    <td>MI</td>
                    <td>8</td>
                    <td>3</td>
                    <td>5</td>
                    <td>0</td>
                    <td>-0.227</td>
                    <td>1523/155.3</td>
                    <td>1545/154.1</td>
                    <td>6</td>
                    <td>L, W, L, W, W</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td><img src="static/images/DC.png" alt="Team Logo" class="player-logo" style="height:70px; margin-left:10px; border-radius:70px"></td>
                    <td>DC</td>
                    <td>8</td>
                    <td>3</td>
                    <td>5</td>
                    <td>0</td>
                    <td>-0.477</td>
                    <td>1370/147.0</td>
                    <td>1561/159.2</td>
                    <td>6</td>
                    <td>L, W, W, L, L</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td><img src="static/images/Punjab.jpeg" alt="Team Logo" class="player-logo" style="height:70px; margin-left:10px; border-radius:70px"></td>
                    <td>PBKS</td>
                    <td>8</td>
                    <td>2</td>
                    <td>6</td>
                    <td>0</td>
                    <td>-0.292</td>
                    <td>1383/159.1</td>
                    <td>1422/158.2</td>
                    <td>4</td>
                    <td>L, L, L, L, W</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td><img src="static/images/RCB.jpeg" alt="Team Logo" class="player-logo" style="height:70px; margin-left:10px; border-radius:70px"></td>
                    <td>RCB</td>
                    <td>8</td>
                    <td>1</td>
                    <td>7</td>
                    <td>0</td>
                    <td>-1.046</td>
                    <td>1548/159.2</td>
                    <td>1616/150.1</td>
                    <td>2</td>
                    <td>L, L, L, L, L</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock body %}
