{% extends "base.html" %}
{% block title %}Teams/{% endblock title %}
{% block body %}
<div class="container-fluid" style="text-align: center;">
    <h1 style="margin-top: 50px;">IPL TEAMS 2024</h1>
</div>

<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        <!-- Chennai Super Kings -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="/csk">
                        <img src="static/images/CSK.png" class="card-img-top" alt="Chennai Super Kings" style="width: 100%; height: 200px; object-fit: cover;">
                    </a>
                    <p class="card-text">Chennai Super Kings team</p>
                </div>
            </div>
        </div>

        <!-- Delhi Capitals -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="/dc">
                        <img src="static/images/dc.png" class="card-img-top" alt="Delhi Capitals" style="width: 100%; height: 200px; object-fit: cover;">
                    </a>
                    <p class="card-text">Delhi Capitals team</p>
                </div>
            </div>
        </div>

        <!-- Gujarat Titans -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="/gt">
                        <img src="static/images/gt.webp" class="card-img-top" alt="Gujarat Titans" style="width: 100%; height: 200px; object-fit: cover;">
                    </a>
                    <p class="card-text">Gujarat Titans team</p>
                </div>
            </div>
        </div>

        <!-- Kolkata Knight Riders -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="/kkr">
                        <img src="static/images/KKR.png" class="card-img-top" alt="Kolkata Knight Riders" style="width: 100%; height: 200px; object-fit: cover;">
                    </a>
                    <p class="card-text">Kolkata Knight Riders team</p>
                </div>
            </div>
        </div>

        <!-- Lucknow Super Giants -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="/lsg">
                        <img src="static/images/LSG.webp" class="card-img-top" alt="Lucknow Super Giants" style="width: 100%; height: 200px; object-fit: cover;">
                    </a>
                    <p class="card-text">Lucknow Super Giants team</p>
                </div>
            </div>
        </div>

        <!-- Mumbai Indians -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="/mi">
                        <img src="static/images/MI.png" class="card-img-top" alt="Mumbai Indians" style="width: 100%; height: 200px; object-fit: cover;">
                    </a>
                    <p class="card-text">Mumbai Indians team</p>
                </div>
            </div>
        </div>

        <!-- Punjab Kings -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="/punjab">
                        <img src="static/images/punjab.jpeg" class="card-img-top" alt="Punjab Kings" style="width: 100%; height: 200px; object-fit: cover;">
                    </a>
                    <p class="card-text">Punjab Kings team</p>
                </div>
            </div>
        </div>

        <!-- Rajasthan Royals -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="/rr">
                        <img src="static/images/RR.png" class="card-img-top" alt="Rajasthan Royals" style="width: 100%; height: 200px; object-fit: cover;">
                    </a>
                    <p class="card-text">Rajasthan Royals team</p>
                </div>
            </div>
        </div>

        <!-- Royal Challengers Bangalore -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="/rcb"> 
                        <img src="static/images/RCB.jpeg" class="card-img-top" alt="Royal Challengers Bangalore" style="width: 100%; height: 200px; object-fit: cover;">
                    </a>
                    <p class="card-text">Royal Challengers Bangalore team</p>
                </div>
            </div>
        </div>

        <!-- Sunrisers Hyderabad -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="/srh">
                        <img src="static/images/SRH.jpeg" class="card-img-top" alt="Sunrisers Hyderabad" style="width: 100%; height: 200px; object-fit: cover;">
                    </a>
                    <p class="card-text">Sunrisers Hyderabad team</p>
                </div>
            </div>
        </div>
    </div>
</div>
 
              


{% endblock body %}
